body{
    margin: 0;
    background-image: url(./images/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

.header{
    
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    /* background-color: rgba(0,0,0,0.3); */
    background-position: bottom;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}
.logo{
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
}
.profile-photo{
    align-items: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
.touch-button{
    text-align: right;
}
.nav{
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: center;
}
.cover{
    color: white;
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}
.tyrotech{
    font-size: 8rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
}
.cover-inside{
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    padding: 70px;
    border-radius: 30px;
}
.cover-button{
    margin-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    
}

.about-me{
    /* background-color: rgba(255, 255, 255, 0.3); */
    display: flex;
    height: 50vh;
    /* margin-bottom: 30px; */
    gap: 40px;
    padding: 60px;
}

.photo{
    border-radius: 20%;
}
.techoo1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    /* row-gap: 50px; */
    justify-items: center;
    background-color: white;
    margin-bottom: 90px;
}
.technoo{

}